* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
body {
  background: rgb(38, 37, 36);
  padding: 5px;
  color: #fff;
}
header a {
  color: #ffffffa2;
}

/* -----------------------header part----------------------- */

header {
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
}
.nav-logo {
  display: flex;
  gap: 50px;
}
nav ul {
  display: flex;
  gap: 30px;
}
.login {
  display: flex;
  align-items: center;
  gap: 30px;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #333333;
  padding: 15px 10px;
  border-radius: 50px;
  border: 3px solid #333;
  transition: 0.5s;
}
.search-bar img {
  height: 30px;
}
.login input {
  border: none;
  font-size: 20px;
  outline: none;
  background: transparent;
  color: #fff;
}
.btn {
  background: #ffffffa2;
  padding: 15px 25px;
  border-radius: 50px;
  color: #000;
  transition: 0.2s ease-in-out;
  font-size: 1.3rem;
  font-weight: bold;
}
.btn:hover {
  background: #30303099;
  color: #fff;
}
.search-bar:hover,
.search-bar:focus {
  border: 3px solid rgba(249, 206, 213, 0.6);
}
header a:hover {
  color: #fff;
}

/* -----------------------landing page----------------------- */

.banniere-container {
  height: 85vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.banniere-container span {
  padding: 20px 10px;
  background: #fff;
  color: #000;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
}
.banniere-container span:hover {
  color: #000000a6;
}
.banniere-container p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff4d;
}
h1 {
  color: #ffffffb7;
  font-size: 5.7rem;
}

/* ------------------------slide section------------------------ */

.slide {
  width: 100%;
  height: 410px;
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent 0.1%,
    #fff 10% 90%,
    transparent
  );
}
.slide-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: calc(300px * 14);
  position: relative;
}

.slide-card {
  height: 400px;
  width: 300px;
  position: absolute;
  left: 100%;
  animation: autoRun 24s linear infinite;
  animation-delay: calc((24s / 14) * (var(--position) - 7));
  transition: filter 0.5s;
}
.slide-card img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
.slide:hover .slide-card {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slide .slide-card:hover {
  filter: grayscale(0);
}
.slide-card-btn {
  display: flex;
  gap: 20px;
  z-index: 1;
  position: absolute;
  bottom: 30px;
}
.card-info {
  padding: 20px;
}
.slide-card .infos {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom: 90px;
}
.slide-card-btn span {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
}
.slide-card-btn span:hover {
  background: #000;
  color: #fff;
}

/*-------------------------- animation --------------------------*/

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(300px * -1);
  }
}

/* ------------------------album section------------------------ */

.grid-section {
  height: 85vh;
  text-align: center;
}
.album-container h2 {
  font-size: 4rem;
  margin-bottom: 60px;
  margin-top: 60px;
}
.photo-section {
  /* background: red; */
  padding-bottom: 40px;
}
.photo-card {
  max-width: 400px;
}
.photo-card img {
  width: 100%;
  border-radius: 10px;
}
.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.details-1,
.details-2 {
  display: flex;
  gap: 5px;
  align-items: center;
}
.details-1 span {
  background: #ffffff4d;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
}
.details-1 span:hover {
  background: rgb(54, 54, 54);
  color: #fff;
}
.details-1 img,
.details-2 img {
  width: 27px;
  height: 27px;
}

.photo-section {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  place-items: center;
  gap: 25px;
}
.link-container-photo {
  position: relative;
}
.photo-hover {
  position: absolute;
  top: -105px;
  left: 0;
  right: 0;
  bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(82, 82, 82, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  padding: 40px;
}
.photo-hover img:hover {
  background: #fff;
  color: #fff;
}
.photo-hover img {
  width: 30px;
  height: 30px;
  padding: 15px;
  background: #333;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.5s;
}

.link-container-photo:hover .photo-hover {
  display: flex;
  justify-content: space-between;
}
/*------------------------------------- about us section -------------------------------------*/

.about-us {
  background: #fff;
  height: 50vh;
}
